# -*- encoding: utf-8 -*-
{
    'name': 'Open e-Obs {{ trust_name }} Configuration',
    'version': '0.1',
    'category': 'Clinical',
    'license': 'AGPL-3',
    'summary': '',
    'description': """Configuration for {{ trust_name }} {{ trust_status }}""",
    'author': 'Neova Health',
    'website': 'http://www.neovahealth.co.uk/',
    'depends': ['nh_eobs_mobile'],
    'data': ['data/master_data.xml'],
    'demo': ['data/demo_users.xml'],
    'qweb': ['static/src/xml/view_override.xml'],
    'css': [],
    'application': True,
    'installable': True,
    'active': False,
}