<templates>
    <t t-extend="Login">
        <t t-jquery=".oe_login_logo" t-operation="replace">
            <div class="oe_login_logo">
                <img src="/{{ module_name }}/static/src/img/trust_logo.png"/>
            </div>
        </t>
        <t t-jquery="div.oe_login_footer" t-operation="replace">
            <a href="https://www.neovahealth.co.uk/page/open-eobs" target="_blank">Powered by <span>Open e-Obs / Odoo</span></a>
        </t>
    </t>
</templates>